:root {
  --text: hsla(240, 94%, 97%, 1);
  --text-thinner: hsla(240, 35%, 85%, 1);
  --bg: hsla(240, 55%, 8%, 1);
  --bg-100: hsla(240, 55%, 12%, 1);
  --bg-200: hsla(240, 55%, 16%, 1);
  --highlight: hsla(240, 94%, 53%, 1);
  --highlight-warm: hsla(34, 94%, 53%, 1);
  --highlight-warm-100: hsla(34, 97%, 85%, 1);
  --code-bg: hsl(240, 65%, 26%);
  --code-bg-darker: hsl(240, 55%, 12%);
  --code-text: var(--text);
}

img {
  object-fit: cover;
}

body {
  margin: auto;
  max-width: 77ch;
  text-align: left;
  background-color: var(--bg);
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: var(--text);
}

a {
  color: var(--text);
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

content {
  line-height: 1.6;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  border-radius: 4px;
  padding: 2px 5px;
  background-color: var(--code-bg);
  color: var(--code-text) !important;
}

pre {
  padding: 12px;
  border-radius: 4px;
  background-color: var(--code-bg-darker) !important;
}

pre > code {
  all: unset;
}

blockquote {
  border: 1px solid var(--text);
  border-radius: 4px;
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

mark {
  background-color: var(--highlight);
  color: var(--text);
  padding: 1px 3px;
}

main {
  padding-inline: 20px;
}

footer {
  padding-block: 20px;
}
