---
import HeaderLink from "./HeaderLink.astro";
import { Logo } from "../components/Logo";
import { NavMobile } from "./NavMobile";
import { navLinks } from "./navLinks";
import nav from "./Nav.module.scss";
---

<header>
  <nav class={nav.desktop}>
    <Logo />
    <div class={nav.links}>
      {navLinks.map((link) => <HeaderLink {...link} />)}
    </div>
  </nav>
  <NavMobile client:load>
    {navLinks.map((link) => <HeaderLink {...link} />)}
  </NavMobile>
</header>

<style>
  header {
  }

  @media (max-width: 479px) {
    header.open {
      position: sticky;
      top: 0;
    }
  }
</style>

<script>
  document.querySelector("#nav-toggle")!.addEventListener("click", () => {
    document.querySelector("header")!.classList.toggle("open");
  });
</script>
