@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-weight: normal;
	src: url('/JetBrainsMono-Regular.ttf') format('truetype');
}
@mixin jetbrains() {
	font-family: 'JetBrains Mono', monospace;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.2;
}

@tailwind base;

@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

body {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: auto;
	text-align: left;
	max-width: 611px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	@apply px-5;
}
a {
	color: inherit;
	text-decoration: underline;
}

textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
article.prose code {
	@include jetbrains();
	@apply rounded-md;
	font-size: 12px;
	padding: 2px 5px;
	background-color: theme('colors.code.100');
	margin-inline: 2px;
	color: theme('colors.200');
	font-weight: 550;
}
article.prose pre {
	@include jetbrains();
	font-size: 14.5px;
}
article.prose pre > code {
	all: unset;
}

// came with the blog skeleotn:

body {
	min-height: 100vh;
	// overflow-y: scroll; /* https://maxschmitt.me/posts/react-prevent-layout-shift-body-scrollable/ */
}

@layer components {
	body {
		--brand-accent: hsl(30, 94%, 55%);
		/* https://ishadeed.com/article/defensive-css */
		overflow-wrap: break-word;
		overflow-y: auto;
		scrollbar-gutter: stable;
	}
	/* .dark > body {
    --brand-accent: #a16207;
  } */
	:root {
		accent-color: var(--brand-accent);
	}
	:focus-visible {
		outline-color: var(--brand-accent);
	}
	::selection {
		background-color: var(--brand-accent);
	}
	.dark ::selection {
		color: #1d1d1d;
	}
	::marker {
		color: var(--brand-accent);
	}
	input:focus {
		outline-style: solid;
	}
	:is(
			::-webkit-calendar-picker-indicator,
			::-webkit-clear-button,
			::-webkit-inner-spin-button,
			::-webkit-outer-spin-button
		) {
		color: var(--brand-accent);
	}
	/* https://css-tricks.com/two-issues-styling-the-details-element-and-how-to-solve-them/ */
	details {
		border: 2px solid var(--brand-accent);
		padding: 0.5rem 1rem;
	}
	details > summary {
		cursor: pointer !important;
	}
	details > summary > *:first-child {
		display: inline !important;
	}
	img {
		max-width: 100%;
		object-fit: cover;
	}
}
/* for the super long github links i drop */
article.prose a {
	word-break: break-word;
}
article.prose h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	text-decoration: none !important;
}
// article.prose h2::before {
// 	content: '## ';
// }
// article.prose h3::before {
// 	content: '### ';
// }
// article.prose h4::before {
// 	content: '#### ';
// }

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
	content: '';
	margin-bottom: -0.098em;
	display: table;
}

.capsize::after {
	content: '';
	margin-top: -0.219em;
	display: table;
}

@layer utilities {
	.gradient {
		background-image: linear-gradient(
			90deg,
			hsl(192deg 95% 78%) 0%,
			hsl(193deg 100% 50%) 19%,
			hsl(202deg 100% 50%) 27%,
			hsl(212deg 100% 50%) 34%,
			hsl(264deg 79% 58%) 41%,
			hsl(317deg 100% 47%) 47%,
			hsl(344deg 100% 59%) 53%,
			hsl(21deg 100% 59%) 59%,
			hsl(27deg 95% 54%) 66%,
			hsl(21deg 95% 53%) 73%,
			hsl(13deg 95% 54%) 81%,
			hsl(0deg 94% 55%) 100%
		);
	}
	.gradient-light {
		background-image: linear-gradient(
			90deg,
			hsl(217deg 94% 58%) 0%,
			hsl(218deg 96% 56%) 19%,
			hsl(220deg 96% 54%) 27%,
			hsl(223deg 95% 54%) 34%,
			hsl(264deg 79% 58%) 41%,
			hsl(317deg 100% 47%) 47%,
			hsl(344deg 100% 59%) 53%,
			hsl(21deg 100% 59%) 59%,
			hsl(27deg 95% 54%) 66%,
			hsl(21deg 95% 53%) 73%,
			hsl(13deg 95% 54%) 81%,
			hsl(0deg 94% 55%) 100%
		);
	}

	.gradient-45 {
		background-image: linear-gradient(
			45deg,
			hsl(192deg 95% 78%) 0%,
			hsl(194deg 100% 61%) 18%,
			hsl(197deg 100% 50%) 25%,
			hsl(204deg 100% 50%) 32%,
			hsl(212deg 100% 50%) 37%,
			hsl(227deg 94% 55%) 43%,
			hsl(292deg 71% 48%) 49%,
			hsl(321deg 100% 48%) 55%,
			hsl(339deg 100% 56%) 63%,
			hsl(9deg 100% 63%) 73%,
			hsl(30deg 94% 55%) 99%
		);
	}

	.gradient-light-45 {
		background-image: linear-gradient(
			45deg,
			hsl(30deg 94% 55%) 0%,
			hsl(18deg 100% 62%) 11%,
			hsl(4deg 100% 67%) 22%,
			hsl(348deg 100% 67%) 33%,
			hsl(336deg 100% 65%) 44%,
			hsl(326deg 93% 64%) 56%,
			hsl(309deg 67% 61%) 67%,
			hsl(281deg 67% 64%) 78%,
			hsl(250deg 82% 69%) 89%,
			hsl(217deg 94% 58%) 100%
		);
	}
}
